@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Azeret Mono", monospace; */
/* Shared styles */
* {
    margin: 0 auto;
}

body {
    font-family: "Azeret Mono", monospace;
    width: 1440px;
    height: 652px;
}

.center-align {
    align-items: center;
}

/* Header Style (nav)*/
nav {
    margin: 40px;
    display: flex;
    align-items: center;
    gap: 600px;
}

nav a {
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    text-decoration: none;
}

nav a button {
    font-size: 20px;
    font-weight: 600;
    color: rgb(13, 19, 33);
    padding: 17px 24px 17px 24px;
    border-radius: 7px;
    border: 1px solid rgb(13, 19, 33);
}

/* Header Style banner */
.second-bg {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    width: 1440px;
    height: 952px;
}

.hero {
    max-width: 998px;
    height: 582px;
    margin: 26px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    line-height: 60px;
    color: rgb(13, 19, 33);
    text-align: center;
}

.hero-description {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: rgb(13, 19, 33);
    text-align: center;
}

header div img {
    width: 240.28px;
    height: 240px;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    color: rgb(255, 255, 255);
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
}

/* Why Web Development Style */
.Why-development-bg {
    width: 1140px;
    border-radius: 15px;
    background-color: rgba(13, 19, 33, 0.04);
}

.Why-development {
    padding: 80px 97px;
    width: 946px;
    color: rgb(13, 19, 33);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section-title {
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
}

.reasons {
    width: 850px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.reason {
    display: flex;
    gap: 100px;
    width: 850px;
    border-radius: 16px;
    background: linear-gradient(100.00deg, rgba(246, 226, 226, 0.508), rgba(233, 152, 152, 0.03) 100%);
    padding: 48px 48px;
}

.reason-left {
    max-width: 60%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    gap: 20px;
}

.reason-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    opacity: 0.7;
}

.reason-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    opacity: 0.7;
}

.link-btn {
    padding: 10px 20px;
    border: 1.5px solid rgb(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    opacity: 0.7;
}

.reason img {
    width: 275px;
    height: 240px;
}